{% extends "base.html" %}

{% block content %}

<div class="page">

    <h1>🏎️ Pilotos NASCAR Cup Series</h1>

    <div class="cards">

        {% for driver in drivers %}

        <div class="card">

            <h2>#{{ driver.number }} {{ driver.name }}</h2>

            <p><strong>Equipo:</strong> {{ driver.team }}</p>

            <p><strong>Fabricante:</strong> {{ driver.manufacturer }}</p>

        </div>

        {% endfor %}

    </div>

    <h3>
        *Austin Hill en el #33 reemplaza a Kyle Busch (#8) tras el fallecimiento de este último el 21 de mayo del 2026.</h3>

</div>

{% endblock %}