<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NASCAR Analytics</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav>

        <div class="logo">
            🏁 NASCAR Analytics
        </div>

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/drivers">Pilotos</a></li>
            <li><a href="/schedule">Calendario</a></li>
            <li><a href="/stats">Estadísticas</a></li>
            <li><a href="/news">Noticias</a></li>
        </ul>

    </nav>

    <section class="hero">

        <h1>Todo sobre la NASCAR Cup Series</h1>

        <p>
            Resultados, estadísticas, clasificación y noticias actualizadas.
        </p>

        <div class="cards">

            <div class="card">
                <h2>🏆 Líder del campeonato</h2>
                <p>Denny Hamlin (#11)</p>
            </div>

            <div class="card">
                <h2>🏁 Próxima carrera</h2>
                <p>Window World 450 (North Wilkesboro Speedway)</p>
            </div>

            <div class="card">
                <h2>🔥 Último ganador</h2>
                <p>Ryan Blaney (#12)</p>
            </div>

        </div>

    </section>

    <section class="standings">

        <h2>📊 Top 5 del Campeonato</h2>

        <table>

            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Piloto</th>
                    <th>Puntos</th>
                </tr>
            </thead>

            <tbody>

                {% for driver in standings %}
                <tr>
                    <td>{{ driver.pos }}</td>
                    <td>{{ driver.driver }}</td>
                    <td>{{ driver.points }}</td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </section>

    <section class="news">
        
        </div>

    </section>

</body>

</html>