{% extends "base.html" %}

{% block content %}

<div class="page">

    <h1>📰 Noticias NASCAR</h1>

    <div class="cards">

        <div class="card">
            <h2>Hamlin sigue líder</h2>
            <p>El piloto del #11 mantiene la ventaja en el campeonato tras una asombrosa remontada sobre Tyler Reddick.</p>
        </div>

        <div class="card">
            <h2>Blaney se la lleva!</h2>
            <p>El piloto del auto #12 para Team Penske se hizo con la bandera a cuadros tras una bandera roja de más de 2 horas por tormenta eléctrica en Hampton.</p>
        </div>

        <div class="card">
            <h2>Se viene North Wilkesboro!</h2>
            <p>El histórico y viejo autódromo se prepara para recibir a la serie mayor de NASCAR este domingo!</p>
        </div>

    </div>

</div>

{% endblock %}